<p id="notice" class="text-center italic"><%= notice %></p>

<div class="container flex justify-center p-5 bg-gray-300 bg-opacity-90">
  <ul>
    <li>
      <p class="font-bold p-2">Name:</p>
      <p class="pl-5 italic"><%= @power.name %> </p>
    </li>
    <li>
      <p class="font-bold p-2">Power Catagory:</p>
      <p class="pl-5 italic"><%= @power.category %> </p>
    </li>
    <li>
      <p class="font-bold p-2">Description:</p>
      <p class="pl-5 italic"><%= @power.description %> </p>
    </li>
    <li>
      <p class="font-bold p-2">Limitations:</p>
      <p class="pl-5 italic"><%= @power.limitations %> </p>
    </li>
    <li>
      <p class="font-bold p-2">Users:</p>
      <p class="pl-5 italic"><%= @power.known_users %> </p>
    </li>

<%= link_to 'Edit', edit_power_path(@power) %> |
<%= link_to 'Back', powers_path %>
