<div class="container flex justify-center">
  <%= form_with(model: comic) do |form| %>
    <% if comic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

        <ul>
          <% comic.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field">
    <%= form.label :name, "Name:"%><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :number, "Number:" %><br>
    <%= form.number_field :number %>
  </div>

  <div class="field">
    <%= form.label :volume, "Volume:" %><br>
    <%= form.number_field :volume %>
  </div>

  <div class="field">
    <%= form.label :publisher, "Punlisher(s):" %><br>
    <%= form.text_field :publisher %>
  </div>

  <div class="field">
    <%= form.label :writer , "Writer(s):" %><br>
    <%= form.text_field :writer %>
  </div>

  <div class="field">
    <%= form.label :description , "Description:" %><br>
    <%= form.text_area :description, size: "40x2" %>
  </div>

  <div class="actions">
    <%= form.submit class: "mt-5 mb-5 p-1 text-gray-200 bg-red-600 sm:rounded 
    hover:bg-red-700 shadow container flex justify-center" %>
  </div>
  <% end %>
</div>