<p id="notice"><%= notice %></p>

  <ul class="grid grid-cols-5 mb-2 mt-10 border-b-2"> 
    <li class="ml-5">Name</li>
    <li class="ml-5">Num.</li>
    <li class="ml-6">Vol.</li>
    <li class="ml-3">Writer</li>
  </ul>

  <ul class="grid grid-cols-5 ml-5 m-5">
    <% @comics.each do |comic| %>
      <li class="border-b-2"><%= comic.name %></li>
      <li class="border-b-2"><%= comic.number %></li> 
      <li class="border-b-2"><%= comic.volume %></li>
      <li class="border-b-2"><%= comic.writer %></li>
      <li class="border-b-2 container flex justify-end text-blue-500 text-xl"> <%= link_to '→', comic %>
    <% end %> 
  </ul>

<br>


<button class="p-1 text-gray-200 bg-red-600 sm:rounded hover:bg-red-700 shadow container flex justify-center"> <%= link_to 'Add', new_comic_path %> </button>
