<p id="notice"><%= notice %></p>

<h1 class="text-blue-500 mx-20 m-5 text-xl font-extrabold">Comics</h1>

<ul class="grid grid-cols-5 mx-5 mb-3"> 
    <li>Name</li>
    <li>Number</li>
    <li>Volume</li>
    <li>Writer</li>
</ul>

<ul class="grid grid-cols-5">
  <% @comics.each do |comic| %>
    <li class="m-2"><%= comic.name %></li>
    <li class="m-2"><%= comic.number %></li> 
    <li class="m-2"><%= comic.volume %></li>
    <li class="m-2"><%= comic.writer %></li>
    <li class="m-5"><%= link_to 'More', comic %></li>
  <% end %>
</ul>
<br>

<%= link_to 'New Comic', new_comic_path %>
