<p id="notice" class="text-center italic"><%= notice %></p>


<h1 class="p-2 mb-5 border-b-2 border-t-2 border-black text-center text-2xl font-bold italic">Collection</h1>

<div class="container flex justify-center">
  <%= form_tag comics_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], class: "font-bold italic text-center mt-1 text-black bg-gray-300 bg-opacity-90" %>
    <%= submit_tag "Search", class: "font-bold mt-1 pl-1 pr-1  text-black bg-red-600 rounded border-b-2 border-l-2 border-red-800
        hover:bg-gray-800 hover:text-gray-200 hover:border-black shadow" %>
  <%  end %>
</div>
<div class="container flex justify-center">
  <div class="actions mt-5 mb-1 pl-10 pr-10 font-bold text-center text-black bg-yellow-300 rounded border-b-2 border-l-2 border-yellow-500
    hover:bg-gray-800 hover:text-gray-200 hover:border-black shadow"> <%= link_to 'Add New Comic', new_comic_path %> 
  </div>
</div>

<div class="container flex justify-center">
  <ul class="p-5 m-5 bg-gray-300 bg-opacity-90">
    <% @comics.each do | comic | %>
      <li class="border-t-2 border-black font-bold pt-2 pb-2">Name</li>
      <li class="border-b-2 pl-10 italic"><%= comic.name %></li>
      <li class="font-bold pb-2">Vol.</li>
      <li class="border-b-2 pl-10 italic"><%= comic.volume %></li>
      <li class="font-bold pb-2">Num.</li>
      <li class="border-b-2 pl-10 italic"><%= comic.number %></li> 
      <li class="font-bold pb-2">Writer</li>
      <li class="border-b-2 pl-10 italic"><%= comic.writer %></li>
      <div class="container flex justify-end border-b-2 border-black pt-5 pb-5">
        <li class="actions font-bold text-black bg-blue-500 pt-1 pb-1 pl-3 pr-3 rounded border-b-2 border-l-2 border-blue-800
		    hover:bg-gray-800 hover:text-gray-200 hover:border-black shadow"> <%= link_to 'view', comic %>
        </li>
      </div>
    <% end %> 
  </ul>
</div>

