<div class="container flex justify-center bg-gray-300 bg-opacity-90">  
  <%= form_with(model: character) do |form| %>
    <% if character.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

        <ul>
          <% character.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :comic %>
      <%= form.text_field :comic %>
    </div>

    <div class="field">
      <%= form.label :power %>
      <%= form.text_field :power %>
    </div>

    <div class="field">
      <%= form.label :first_appearance , "First Appearance (Year):" %>
      <%= form.text_field :first_appearance %>
    </div>

    <div class="field">
      <%= form.label :alter_ego , "Alter-Ego:" %>
      <%= form.text_field :alter_ego %>
    </div>

    <div class="field">
      <%= form.label :location , "Location:" %>
      <%= form.text_field :location %>
    </div>

    <div class="field">
      <%= form.label :bio , "Bio:" %>
      <%= form.text_area :bio , size: "40x2" %>
    </div>

    <div class="container flex justify-center">
      <div class="actions">
        <%= form.submit class: "font-bold mt-5 mb-5 p-1 text-gray-800 bg-red-600 rounded border-b-2 border-l-2 border-red-800
        hover:bg-gray-800 hover:text-gray-200 hover:border-black shadow container flex justify-center" %>
      </div>
    </div>  
  <% end %>
</div>