<!DOCTYPE html>
<html>
  <head>
    <title>Comic Fans Script</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<%= render 'layouts/header'%>
   <body class="bg-center bg-cover bg-no-repeat"
   style="background-image:url(<%= image_url('background/comic-bg.png') %> )">
    <%
=begin%>
 <%= image_tag('background/comic-bg.png') %> 
<%
=end%>
    <main class="container mx-auto bg-gray-300 bg-opacity-30">
      <%= yield %>
    </main>
  </body>
</html>
